

<div class="container col-3">
   <div class="form">
            <%= form_with model: @room_number, url: room_numbers_path do |form| %>
              <%= form.label :numero %>
              <%= form.number_field :numero, class: "form-control" %>
              <br>
              <% if RoomNumber.count >= 10 %>
                <%= content_tag :div, "Le nombre maximum de chambres a été atteint.", class: "alert alert-warning" %>
              <% elsif @room_number.errors.any? %>
                <div class="alert alert-danger">
                  <ul>
                    <% @room_number.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% else %>
                <%= form.submit "Créer", class: "btn btn-primary" %>
              <% end %>
              <br><br>
              <span><%= link_to "Home", root_path, class: "btn btn-primary" %></span>
        
            <% end %>
  </div>
            <div class=" numero ">
              <% existing_numbers = RoomNumber.pluck(:numero).map(&:to_s) %>
                  <div class="A1 <%= 'used' if existing_numbers.include?('1001') %>">
                    <h6>1001</h6>
                  </div>
                  <div class="B1 <%= 'used' if existing_numbers.include?('1011') %>">
                    <h6>1011</h6>
                  </div>
                  <div class="B2 <%= 'used' if existing_numbers.include?('1012') %>">
                    <h6>1012</h6>
                  </div>
                  <div class="C1 <%= 'used' if existing_numbers.include?('1021') %>">
                    <h6>1021</h6>
                  </div>
                  <div class="C2" <%= 'used' if existing_numbers.include?('1022') %>">
                    <h6>1022</h6>
                  </div>
            </div>
</div>
