<div class="container mt-10">

    <div class="row">
      
        <table class="table table-bordered" style="border: 4px solid black;">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Spécialité</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @docteurs.each do |docteur| %>
                <tr>
                  <td><%= docteur.id %></td>
                  <td><%= docteur.nom.capitalize %></td>
                  <td><%= docteur.specialite.specialite %></td>
                  <td>
                    <%= link_to "Modifier", edit_docteur_path(docteur),class: "btn btn-primary" %>
                    <%= link_to "Fiche", fiche_docteur_path(docteur),class: "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div>
        <%=link_to"Home",root_path,class: "btn btn-primary"%>
          </div>
   </div>
</div>

