<div class="container col-12" data-controller="absence-selector" >
    <div>
        <h1>Créer Docteur</h1>
    </div>
    <br><br>
            <div class="row">
                <div class="col-4 mt-5">
                    <% puts @specialites.inspect %>
                    <%= simple_form_for(@docteur) do |f| %>
                            <div class="col-2.5">
                                <%=  f.label :nom,content_tag(:strong, 'Nom Docteur:') %>
                                <%=  f.text_field :nom, class:"rounded-box"%>
                            </div>
                            <br><br>
                            <div class="col-3.5">
                                <div class="form-group">
                                    <%= f.label :specialite, content_tag(:strong, "Spécialité:"), class: "font-weight-bold" %>
                                    <%= f.select :specialite_id, options_for_select(@specialites.map { |s| [s.specialite, s.id] }, prompt: "Choisir une spécialité"), {} %>
                                </div>
                            </div>
                            <br><BR>
                              <div>
                                <h5><strong>Créer 1ere absence:</strong></h5>
                                <br>
                              </div>
                            <div class="absences">
                              <%= f.simple_fields_for :absences do |absence_fields| %>
                                  <div class="col-2.5">
                                    <%= absence_fields.label :debut_absence, content_tag(:strong, "Début d'absence:") %>
                                    <%= absence_fields.text_field :debut_absence, data: { "absence-selector-target": "start" }, class: "rounded-box" %>
                                  </div>
                                  <br><br>
                                  <div class="col-2.5">
                                    <%= absence_fields.label :fin_absence, content_tag(:strong, "Fin d'absence:") %>
                                    <%= absence_fields.text_field :fin_absence, data: { "absence-selector-target": "end" }, class: "rounded-box" %>
                                  </div>
                              <% end %>
                              <br><br><br>
                                <div class="submit">
                                    <%=f.submit"Valider", class: "btn btn-primary"%>
                                    <span><%=link_to"Home",root_path,class: "btn btn-primary" %></span>
                                </div>
                            </div>

                    <%end%>
                </div>
            </div>
</div>
