<div class="container col-12">
    <div>
        <h1>Créer Patient</h1>
    </div>
    <br><br>
            <div class="row">
                <div class="col-4 mt-5">
                    <%= simple_form_for(@patient) do |f| %>
                            <div class="col-2.5">
                                <%=  f.label :nom,content_tag(:strong, 'Nom Patient:') %>
                                <%=  f.text_field :nom, class:"rounded-box"%>
                            </div>
                            <br><br>
                            <div class="col-2.5">
                                <%=  f.label :Chambre,content_tag(:strong, 'Numero de chambre:') %>
                                <%= f.collection_select :chambre_id, Chambre.all, :id, ->(chambre) { "#{chambre.numero}" }, { include_blank: "Choisir" }, { class: "form-control" } %>
                            </div>
                            <br><br>
                            <div class="col-3.5">
                                <div class="form-group">
                                <%= f.label :pathologie, content_tag(:strong, "Pathologie:"), class: "font-weight-bold" %>
                                <%= f.select :pathologie, ['Medecine Generale', 'Cardiologie', 'Dermatologie',"Ophtamologie"],{ include_blank: "Choisir" }, { readonly: true}  %>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <%= f.label :docteur_id, content_tag(:strong, "Nom du docteur:"), class: "font-weight-bold" %>
                                <%= f.collection_select :docteur_id, Docteur.all, :id, ->(docteur) { "#{docteur.nom} - #{docteur.specialite}" }, { include_blank: "Choisir" }, { class: "form-control" } %>

                              </div>


                              <br><br>
                            <div class="submit">
                            <%=f.submit"Valider", class: "btn btn-primary"%>
                           
                            <span><%=link_to"Home",root_path,class: "btn btn-primary" %></span>
                            </div>
                    <%end%>
                </div>
            </div>
</div>