<div class="container mt-10">

    <div class="row">
      
        <table class="table table-bordered" style="border: 4px solid black;">
            <thead>
              <tr>
                <th>Nom</th>
                <th>N° Chambre</th>
                <th>Pathologie</th>
                <th>Medecin</th>
              </tr>
            </thead>
            <tbody>
              <% @patients.each do |patient| %>
                <tr>
                  <td><%= patient.nom%></td>
                  <td><%= patient.chambre.numero %></td>
                  <td><%= patient.specialite.specialite%></td>
                  <td><%= patient.docteur.nom%></td>
                  <td>
                   
                        <%= link_to "Modifier",edit_patient_path(patient),class: "btn btn-primary"%>
                        <%= link_to "Fiche",fiche_patient_path(patient),class: "btn btn-primary" %>
                     
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div>
        <%=link_to"Home",root_path,class: "btn btn-primary"%>
          </div>
   </div>
</div>